@using ApplicantTest.Models
@model  IEnumerable<Orders>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<table width="100%">
    <tr>
        <th>Order Id</th>
        <th>Date Ordered</th>
        <th>Date Updated</th>
    </tr>
    @foreach (Orders order in Model)
    {
        <tr>
            <td>@order.Order_Id</td>
            <td>@order.Date_Created</td>
            <td>@order.Date_Updated</td>
        </tr>
    }
</table>